@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('tapeta.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

