<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{../style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{../static/style.css}">

    <title>Add new car</title>
</head>
<body>
<br/>

<div style="position:absolute; left:10%; top:10%; width: 700px; height: 150px; ">

    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link active link-light" aria-current="page" href="/">cars for repair</a>
        <a class="nav-link active link-light" href="create-new-car">add new car</a>
        <a class="nav-link active link-light" href="get-registration-number">repair car</a>
        <a class="nav-link active link-light" href="repaired-cars">repaired cars</a>
    </nav>
    <br>

    <h1 style="color: whitesmoke;">NA WARSTAT</h1>
    <p style="color: whitesmoke;">Find car for repair:</p>

    <form action="/find-car" method="get" th:action="@{/find-car}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="registration_number" th:name="registrationNumber">
            <label for="floatingInput">registration number </label>
        </div>
        <button type="submit" class="btn btn-light">find car</button>
    </form>



</div>
</body>
</html>